version: 2
jobs:
  lint:
    docker:
      - image: koalaman/shellcheck-alpine
    steps:
      - checkout
      - run:
          name: lint
          command: |
            shellcheck -x build.sh
            shellcheck -x tag.sh
            shellcheck -x e2e-kind.sh
  test:
    machine:
      enabled: true
    working_directory: /home/circleci/.go_workspace/src/github.com/helm/chart-testing
    steps:
      - run:
          name: Install tools
          command: |
            mkdir /home/circleci/.go_workspace/bin
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
            chmod +x ./kubectl
            sudo mv ./kubectl /usr/local/bin/kubectl
            curl https://raw.githubusercontent.com/helm/helm/master/scripts/get | bash
            curl -sSLo kind "https://github.com/kubernetes-sigs/kind/releases/download/v0.5.1/kind-linux-amd64"
            chmod +x kind
            sudo mv kind /usr/local/bin/kind
      - checkout
      - run:
          name: Test
          command: |
            go mod download
            ./e2e-kind.sh
  build:
    docker:
      - image: golang:1.13-alpine3.10
    working_directory: /go/src/github.com/helm/chart-testing
    steps:
      - setup_remote_docker
      - run:
          name: Install tools
          command: |
            apk add bash build-base ca-certificates curl docker git openssh
            curl -SLO https://github.com/goreleaser/goreleaser/releases/download/v0.120.5/goreleaser_Linux_x86_64.tar.gz
            mkdir -p /usr/local/goreleaser
            tar -xzf goreleaser_Linux_x86_64.tar.gz -C /usr/local/goreleaser
            ln -s /usr/local/goreleaser/goreleaser /usr/local/bin/goreleaser
            rm -rf goreleaser_Linux_x86_64.tar.gz
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
      - checkout
      - run:
          name: gofmt
          command: |
            gofmt -w -s . && git diff --exit-code
      - run:
          name: Build
          command: |
            set -e
            set -u

            if [[ -z "${CIRCLE_TAG:-}" ]]; then
              echo "Building snapshot..."
              ./build.sh
            else
              echo "Building release $CIRCLE_TAG..."
              echo $DOCKER_PASSWORD | docker login --username $DOCKER_USERNAME --password-stdin quay.io
              ./build.sh --release
            fi
workflows:
  version: 2
  untagged-build:
    jobs:
      - lint
      - test
      - build
  tagged-build:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
