# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.

# build directory
/build/

# CI files
/ci.yaml

# OS files
.DS_Store

# Common VCS dirs
.git/
.gitignore

# Common backup files
*.swp
*.bak
*~

/templates/foo.yaml

